@charset "UTF-8";
/* Define variables and values for website */
/* COLORS */
/* FONTS */
/** Mixin for media queries
    Size applied from https://getbootstrap.com/docs/4.1/layout/grid/
*/
/* Properties basic for sections */
/* Clients Logo Clouds section */
/* Stableshing Fonts */
@font-face {
  font-family: "Manrope";
  font-weight: bold;
  font-style: bold;
  font-display: swap;
  src: url("../../fonts/Manrope-Bold.woff") format("woff"), url("../../fonts/Manrope-Bold.woff2") format("woff2");
}
@font-face {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/Manrope-SemiBold.woff") format("woff"), url("../../fonts/Manrope-SemiBold.woff2") format("woff2");
}
@font-face {
  font-family: "Manrope", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("../../fonts/Manrope-Regular.woff") format("woff"), url("../../fonts/Manrope-Regular.woff2") format("woff2");
}
/* General CSS properties */
*, :after, :before {
  box-sizing: border-box;
}

body, ul, li, .container {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

body {
  color: #18191F;
  font-family: "Manrope", sans-serif;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 100%;
  max-width: 90em;
  overflow: hidden;
}

.main-header, .main-content, .main-footer {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

/* Don't show link behavior*/
a:visited, a:link {
  text-decoration: none;
  color: currentColor;
}

/* Don't show border when click */
button {
  border: none;
}
button:focus {
  outline: none;
}

/**
SCSS and BEM structure were used on this project
*/
.main-header {
  margin: 0;
  width: 100%;
  position: relative;
  height: 4.5em;
  box-shadow: 0px 1px 0px #E5E9F2;
}
@media screen and (max-width: 768px) {
  .main-header {
    flex-flow: row;
    align-items: center;
    color: #F4F5F7;
    background-color: #8C30F5;
    border-bottom: 0.21875em solid #E5E9F2;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .main-header {
    flex-flow: row;
    align-items: center;
    color: #F4F5F7;
    background-color: #8C30F5;
    border-bottom: 0.21875em solid #E5E9F2;
  }
}
@media screen and (min-width: 1024px) {
  .main-header {
    justify-content: space-around;
    background-color: #ffffff;
  }
}

/* Class to  fix the navbar on top */
.fixed {
  position: fixed;
  top: 0em;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 75em;
  position: relative;
}
@media screen and (max-width: 768px) {
  .navbar {
    flex-flow: row wrap;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .navbar {
    flex-flow: row wrap;
  }
}

/* Mobile button animation */
.menu-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  /* Lines behavior Menu Opened */
}
@media screen and (max-width: 768px) {
  .menu-button {
    transform: scale(1.8);
    padding: 0.5rem;
    width: 33%;
    display: block;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .menu-button {
    transform: scale(1.8);
    padding: 0.5rem;
    width: 33%;
    display: block;
  }
}
@media screen and (min-width: 1024px) {
  .menu-button {
    display: none;
  }
}
.menu-button__line {
  fill: none;
  stroke: #F4F5F7;
  stroke-width: 6;
  transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1), stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media screen and (min-width: 1024px) {
  .menu-button__line {
    transform: scale(0);
  }
}
.menu-button--opened .line1 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
.menu-button--opened .line2 {
  stroke-dasharray: 1 60;
  stroke-dashoffset: -30;
  stroke-width: 6;
}
.menu-button--opened .line3 {
  stroke-dasharray: 90 207;
  stroke-dashoffset: -134;
  stroke-width: 6;
}
@media screen and (min-width: 1024px) {
  .menu-button--opened {
    display: none;
  }
}

/* Lines behavior Menu Closed */
.line1, .line2, .line3 {
  stroke-width: 6;
}

.line1 {
  stroke-dasharray: 60 207;
}

.line2 {
  stroke-dasharray: 60 60;
}

.line3 {
  stroke-dasharray: 60 207;
}

.navigate {
  display: flex;
  position: relative;
}
.navigate .navigate-list {
  display: flex;
  justify-content: center;
  align-items: center;
}
.navigate .navigate-list__item {
  font-weight: bold;
  font-size: 0.778em;
  line-height: 1.111em;
  margin: 0 0.625em;
}
@media screen and (max-width: 768px) {
  .navigate .navigate-list__item {
    margin: 1.5625em 0;
    font-size: 1em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .navigate .navigate-list__item {
    margin: 1.5625em 0;
    font-size: 1em;
  }
}
@media screen and (max-width: 768px) {
  .navigate .navigate-list {
    flex-flow: column;
    height: 16em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .navigate .navigate-list {
    flex-flow: column;
    height: 16em;
  }
}
@media screen and (max-width: 768px) {
  .navigate {
    position: absolute;
    order: 4;
    top: -2em;
    transform: scale(0);
    z-index: -1;
  }
  .navigate--opened {
    flex-flow: row wrap;
    justify-content: center;
    top: 4.4em;
    width: 100%;
    background-color: #8C30F5;
    transition: 0.7s;
    transform: scale(1);
    z-index: 1;
    border-radius: 0 0 1.875em 1.875em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .navigate {
    position: absolute;
    order: 4;
    top: -2em;
    transform: scale(0);
    z-index: -1;
  }
  .navigate--opened {
    flex-flow: row wrap;
    justify-content: center;
    top: 4.4em;
    width: 100%;
    background-color: #8C30F5;
    transition: 0.7s;
    transform: scale(1);
    z-index: 1;
    border-radius: 0 0 1.875em 1.875em;
  }
}
@media screen and (min-width: 1024px) {
  .navigate {
    width: auto;
  }
}

.active {
  border: 0.2em solid #969BAB;
  border-radius: 0.5em;
  padding: 5% 2%;
  background-color: #A0DCFF;
  transition: 0.6s;
  width: 110%;
}
@media screen and (max-width: 768px) {
  .active {
    background-color: #474A57;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .active {
    background-color: #474A57;
  }
}

.logo-header {
  display: flex;
  position: relative;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .logo-header {
    align-self: center;
    padding: 0.5em 1em;
    border: 0.25em solid #D6B1FF;
    border-radius: 1.5em;
    background-color: #F4F5F7;
    width: 33%;
    max-width: 9.375em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .logo-header {
    align-self: center;
    padding: 0.5em 1em;
    border: 0.25em solid #D6B1FF;
    border-radius: 1.5em;
    background-color: #F4F5F7;
    width: 33%;
    max-width: 9.375em;
  }
}

.account-buttons {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  font-size: 0.778em;
  font-weight: 700;
}
.account-buttons__login, .account-buttons__sign-up {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0.778em;
  border-radius: 0.444em;
  width: 5.556em;
  height: 2.222em;
  font-weight: 700;
}
@media screen and (max-width: 768px) {
  .account-buttons__login, .account-buttons__sign-up {
    margin: 0.3em 0.778em;
    height: 1.8em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .account-buttons__login, .account-buttons__sign-up {
    margin: 0.3em 0.778em;
    height: 1.8em;
  }
}
.account-buttons__login {
  color: #8C30F5;
  background-color: #F1E4FF;
}
@media screen and (max-width: 768px) {
  .account-buttons__login {
    color: #18191F;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .account-buttons__login {
    color: #18191F;
  }
}
.account-buttons__sign-up {
  color: #ffffff;
  background-color: #8C30F5;
}
@media screen and (max-width: 768px) {
  .account-buttons__sign-up {
    color: #8C30F5;
    background-color: #ffffff;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .account-buttons__sign-up {
    color: #8C30F5;
    background-color: #ffffff;
  }
}
@media screen and (max-width: 768px) {
  .account-buttons {
    flex-flow: column;
    width: 33%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .account-buttons {
    flex-flow: column;
    width: 33%;
  }
}

/* MAIN CONTENT */
.overview {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5% 0;
  width: 100%;
  max-width: 75em;
}
@media screen and (max-width: 768px) {
  .overview {
    justify-content: center;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .overview {
    justify-content: space-between;
  }
}

.info-page {
  display: flex;
  flex-flow: column;
  align-content: flex-start;
  justify-content: center;
  margin-bottom: 3.75em;
  width: 50%;
}
@media screen and (max-width: 768px) {
  .info-page {
    text-align: center;
    align-items: center;
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .info-page {
    padding-left: 1em;
  }
}
.info-page__title {
  font-size: 3.5em;
}
.info-page__title h1, .info-page__title h2 {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .info-page__title {
    font-size: 1.5em;
  }
}
.info-page__text {
  font-size: 18px;
  line-height: 32px;
  width: 100%;
}
.info-page__button {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 10.556em;
  min-width: 3.667em;
  width: 100%;
  height: 3.444em;
  max-height: 10.889em;
  min-height: 1.556em;
  background-color: #8C30F5;
  border-radius: 0.444em;
  color: #ffffff;
}
.info-page__button a {
  font-weight: bold;
  font-size: 1.4rem;
}
@media screen and (max-width: 768px) {
  .info-page__button a {
    font-size: 1rem;
  }
}

.image {
  position: absolute;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.image__stats {
  position: absolute;
  filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
  right: -7.375em;
}
@media screen and (max-width: 768px) {
  .image__stats {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .image__stats {
    transform: scale(0.65);
  }
}
@media screen and (min-width: 1024px) {
  .image__stats {
    width: 100%;
    max-width: 37em;
  }
}
@media screen and (max-width: 768px) {
  .image {
    position: absolute;
    margin: 0;
    width: 100%;
  }
}

.circle-background {
  position: relative;
  background: #D6B1FF;
  border-radius: 100%;
  content: "";
  z-index: -1;
}
@media screen and (max-width: 768px) {
  .circle-background {
    position: absolute;
    top: -10%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .circle-background {
    display: none;
  }
}
@media screen and (min-width: 1024px) {
  .circle-background {
    width: 40em;
    height: 40em;
    min-width: 40em;
    right: -4%;
  }
}

/* Logo clouds of Clients */
.our-clients {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5% 0;
  width: 100%;
  max-width: 75em;
  flex-flow: column;
  padding: 4% 0;
  background-color: #F4F5F7;
  max-width: 90em;
}

.info-page--clients {
  padding: 0;
  align-items: center;
  text-align: center;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .info-page--clients {
    padding: 0 1em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .info-page--clients {
    align-items: center;
  }
}
.info-page__title--clients {
  font-size: 2.5em;
}
@media screen and (max-width: 768px) {
  .info-page__title--clients {
    font-size: 1.25em;
  }
}

.logo-clients {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-flow: row wrap;
}
@media screen and (min-width: 1024px) {
  .logo-clients {
    display: grid;
    margin-top: 2em;
    grid-template-columns: 12.25em 12.25em 12.25em 12.25em 12.25em;
    grid-template-rows: auto;
    grid-template-areas: "logo1 logo2 logo4 logo7 logo9" "logo1 . logo5 . logo9" "logo1 logo3 logo6 logo8 logo9";
  }
}
.logo-clients__capsule {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
  border-radius: 1em;
  max-height: 6em;
  max-width: 10.625em;
}
@media screen and (max-width: 768px) {
  .logo-clients__capsule {
    margin: 0.5em;
    width: 10.625em;
    height: 3em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .logo-clients__capsule {
    margin: 0.625em;
    width: 10.625em;
    height: 4em;
  }
}
@media screen and (min-width: 1024px) {
  .logo-clients__capsule {
    margin: 0.75em;
    width: 10.625em;
    height: 6em;
  }
  .logo-clients__capsule:nth-child(1) {
    grid-area: logo1;
  }
  .logo-clients__capsule:nth-child(2) {
    grid-area: logo2;
    position: absolute;
    bottom: -50%;
  }
  .logo-clients__capsule:nth-child(3) {
    grid-area: logo3;
    position: absolute;
    top: -50%;
  }
  .logo-clients__capsule:nth-child(4) {
    grid-area: logo4;
  }
  .logo-clients__capsule:nth-child(5) {
    grid-area: logo5;
  }
  .logo-clients__capsule:nth-child(6) {
    grid-area: logo6;
  }
  .logo-clients__capsule:nth-child(7) {
    grid-area: logo7;
    position: absolute;
    bottom: -50%;
  }
  .logo-clients__capsule:nth-child(8) {
    grid-area: logo8;
    position: absolute;
    top: -50%;
  }
  .logo-clients__capsule:nth-child(9) {
    grid-area: logo9;
  }
}

/* Multiple section */
.multiple {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5% 0;
  width: 100%;
  max-width: 75em;
  flex-flow: column;
}
@media screen and (min-width: 1024px) {
  .multiple {
    min-height: 58.1875em;
  }
}

.info-page--multiple {
  padding: 0;
  align-items: center;
  text-align: center;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .info-page--multiple {
    padding: 0 1em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .info-page--multiple {
    align-items: center;
  }
}
.info-page__title--multiple {
  width: 90%;
  font-size: 2.5em;
}
@media screen and (max-width: 768px) {
  .info-page__title--multiple {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 1024px) {
  .info-page__title--multiple {
    width: 50%;
  }
}

.products-description {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .products-description {
    flex-flow: column;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .products-description {
    flex-flow: column;
  }
}
@media screen and (min-width: 1024px) {
  .products-description {
    flex-flow: row;
    min-height: 39.1875em;
  }
}
.products-description__products {
  position: static;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* Geenral properties of images */
  /* Individual properties of image in 1024px */
}
@media screen and (max-width: 768px) {
  .products-description__products {
    flex-flow: row;
    width: 100%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .products-description__products {
    flex-flow: row;
    width: 100%;
  }
}
@media screen and (min-width: 1024px) {
  .products-description__products {
    flex-flow: column;
    width: 50%;
  }
}
.products-description__products--perfum, .products-description__products--lipstick, .products-description__products--face-wash {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  .products-description__products--perfum, .products-description__products--lipstick, .products-description__products--face-wash {
    width: 33%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .products-description__products--perfum, .products-description__products--lipstick, .products-description__products--face-wash {
    width: 33%;
  }
}
@media screen and (min-width: 1024px) {
  .products-description__products--perfum, .products-description__products--lipstick, .products-description__products--face-wash {
    width: min-content;
  }
}
@media screen and (max-width: 768px) {
  .products-description__products--perfum img, .products-description__products--lipstick img, .products-description__products--face-wash img {
    box-shadow: 0px 0px 30px 10px #D6B1FF;
    border-radius: 50%;
    max-width: 8.4375em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .products-description__products--perfum img, .products-description__products--lipstick img, .products-description__products--face-wash img {
    box-shadow: 0px 0px 30px 10px #D9DBE1;
    border-radius: 25%;
    max-width: 12.5em;
  }
}
@media screen and (min-width: 1024px) {
  .products-description__products--perfum {
    right: -5.625em;
    top: 0;
  }
  .products-description__products--perfum::after {
    position: absolute;
    content: " ";
    background-color: #A0DCFF;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
    right: -2.125em;
    bottom: 3.875em;
    z-index: -1;
  }
}
@media screen and (min-width: 1024px) {
  .products-description__products--lipstick {
    position: absolute;
    left: 3.75em;
    top: 15em;
  }
  .products-description__products--lipstick::after {
    position: absolute;
    content: " ";
    background-color: #FFC3D8;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
    left: -2.25em;
    bottom: 4.0625em;
    z-index: -1;
  }
}
@media screen and (min-width: 1024px) {
  .products-description__products--face-wash {
    left: 2.5em;
    top: 5em;
  }
  .products-description__products--face-wash::after {
    position: absolute;
    content: " ";
    background-color: #C1E5C0;
    border-radius: 50%;
    width: 4.5em;
    height: 4.5em;
    right: -2.125em;
    bottom: -2.125em;
    z-index: -1;
  }
}
.products-description__text {
  position: relative;
  display: flex;
  margin-top: 1.25em;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .products-description__text {
    margin: 0;
    width: 50%;
  }
}

.text-products {
  display: flex;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .text-products {
    flex-flow: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .text-products {
    flex-flow: row;
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .text-products {
    flex-flow: column;
    align-items: center;
    padding-left: 9%;
  }
}
.text-products__item {
  display: flex;
  text-align: center;
  flex-flow: column;
}
@media screen and (max-width: 768px) {
  .text-products__item {
    justify-content: center;
    width: 33%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .text-products__item {
    margin: 0 0.3125em;
    width: 33%;
  }
}
@media screen and (min-width: 1024px) {
  .text-products__item {
    text-align: initial;
    width: 100%;
  }
}
.text-products__item h5 {
  margin: 0;
}
@media screen and (max-width: 768px) {
  .text-products__item h5 {
    font-size: 1.125em;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .text-products__item h5 {
    font-size: 1.25em;
  }
}
@media screen and (min-width: 1024px) {
  .text-products__item h5 {
    padding-left: 0.9375em;
    font-size: 1.5em;
  }
  .text-products__item h5::before {
    position: relative;
    content: "•";
    /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #C1E5C0;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
  }
}
.text-products__item p {
  line-height: 2em;
}
@media screen and (max-width: 768px) {
  .text-products__item p {
    display: none;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .text-products__item p {
    padding: 0 0.625em;
  }
}
@media screen and (min-width: 1024px) {
  .text-products__item p {
    padding: 0;
    width: 90%;
    margin-bottom: 2.5em;
  }
}

/* Testimonial section */
.testimonial {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5% 0;
  width: 100%;
  max-width: 75em;
  flex-flow: row;
  max-width: 90em;
  padding: 0;
  background-color: #D5FAFC;
}
@media screen and (max-width: 768px) {
  .testimonial {
    flex-flow: column;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .testimonial {
    height: 580px;
  }
}
@media screen and (min-width: 1024px) {
  .testimonial {
    height: 628px;
  }
}

.left-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #2EC5CE;
  width: 50%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .left-container {
    width: 100%;
  }
}

.info-page--testimonial {
  width: 65%;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .info-page--testimonial {
    margin: 1.25em;
    padding: 0 0.625em;
  }
}
.info-page__title--testimonial h2 {
  font-size: 42px;
  line-height: 64px;
}
@media screen and (max-width: 768px) {
  .info-page__title--testimonial h2 {
    line-height: 40px;
  }
}

.right-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  margin: 0;
}
@media screen and (max-width: 768px) {
  .right-container {
    justify-content: center;
    width: 100%;
  }
}

.feedback-section {
  position: relative;
  display: flex;
  flex-flow: column;
  background-color: #ffffff;
  padding: 2.5em;
  box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
  margin: 32px 0;
  max-width: 35.875em;
}
@media screen and (max-width: 768px) {
  .feedback-section {
    padding: 1.25em;
    margin: 0;
  }
}
.feedback-section .quotes-image {
  display: flex;
  position: relative;
  width: max-content;
  align-self: flex-end;
  margin-bottom: 24px;
}
.feedback-section__client {
  display: flex;
  flex-flow: column;
  margin: 0;
}
.feedback-section__client .client-who-is {
  display: flex;
  flex-basis: auto;
}
.feedback-section__client .client-who-is img {
  width: 3.5em;
  height: 3.5em;
}
.feedback-section__client .client-name {
  display: flex;
  flex-flow: column;
  align-items: stretch;
  margin-left: 0.625em;
}
.feedback-section__client .client-name h5 {
  font-size: 1.125em;
  line-height: 1.75em;
  margin: auto 0;
}
.feedback-section__client .client-name p {
  font-size: 0.875em;
  margin: auto 0;
}
.feedback-section__client .client-feedback {
  line-height: 32px;
}
@media screen and (max-width: 768px) {
  .feedback-section__client .client-feedback {
    line-height: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1023px) {
  .feedback-section__client .client-feedback {
    line-height: 24px;
  }
}
.feedback-section__client .client-feedback p {
  margin-bottom: 48px;
}
.feedback-section__client .client-logo img {
  width: 140px;
}
.feedback-section__arrows {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 2.5em;
  height: 0.875em;
  font-weight: 700;
  align-self: flex-end;
  bottom: 1.875em;
}
.feedback-section__arrows .previous:hover, .feedback-section__arrows .next:hover {
  color: #ffffff;
  background-color: #8C30F5;
}

/* Stats Section */
.stats {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 5% 0;
  width: 100%;
  max-width: 75em;
  flex-flow: row wrap;
}
@media screen and (max-width: 768px) {
  .stats {
    padding: 0 1em;
  }
}
.stats__info {
  display: block;
  border-left: solid #8C30F5;
  padding-left: 1em;
  width: 100%;
  min-width: 10em;
  max-width: 15.9375em;
}
@media screen and (max-width: 768px) {
  .stats__info {
    margin-bottom: 1em;
    width: 10em;
  }
}
.stats__info h3 {
  font-size: 28px;
  line-height: 40px;
  margin: 0;
}
.stats__info p {
  line-height: 26px;
  margin: 0;
}

/*# sourceMappingURL=styles.css.map */
