/* MAIN CONTENT */

// ==== Make mixin for general properties =====//

// Overview/Hero section - Presentation
.overview {
    @include basic-section ;
    @include responsive-page(smd) { justify-content: center; }
    @include responsive-page(md) { justify-content: space-between;}
}

.info-page {
    display: flex;
    flex-flow: column;
    align-content: flex-start;
    justify-content: center;
    margin-bottom: em(60);
    width: 50%;
    @include responsive-page(smd) {
        text-align: center;
        align-items: center;
        width: 100%;
    }
    @include responsive-page(md) {padding-left: em(16); }
    &__title{
        font-size:em(56);
        h1, h2 {
            margin:0;
        }
        @include responsive-page(smd) {
            font-size:em(24);
        }
    }
    &__text {
        font-size: 18px;
        line-height: 32px;
        width: 100%;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 10.556em;
        min-width: 3.667em;
        width:100%;
        height: 3.444em;
        max-height: 10.889em;
        min-height: 1.556em;
        background-color: $purple;
        border-radius: 0.444em;
        color: #ffffff;
        a {
            font: {
                weight: bold;
                size:1.4rem;
            }
            @include responsive-page(smd) {
                font: { size:1rem; }
            }

        }
    }
}

.image {
    position: absolute;
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    &__stats {
        position:absolute;
        filter: drop-shadow(0px 10px 20px rgba(41, 41, 42, 0.07));
        border-radius: 8px;
        right: em(-300);
        @include responsive-page(smd) { display: none; }
        
        @include responsive-page(md) { 
            transform: scale(.65);
        }
        
        @include responsive-page(mdtop) { 
            width: 100%;
            max-width: em(768);
        }
    }
    @include responsive-page(smd) {
        position: absolute;
        margin:0;
        width: 100%;
    }
}

.circle-background {
    position: relative;
    background: $purple800;
    border-radius: 100%;
    content: "";
    z-index: -1;
    @include responsive-page(smd) {
        position: absolute;
        top:-10%;
    }
    @include responsive-page(md) {
        display: none;
    }
    @include responsive-page(mdtop) {
        width: em(640);
        height: em(640);
        min-width: em(640);
        right: -4%;
    }
}

/* Logo clouds of Clients */
.our-clients {
    @include basic-section ;
    flex-flow: column;
    padding: 4% 0;
    background-color: $gray100;
    max-width: em(1440);
}
.info-page {
    &--clients {
        padding: 0;
        align-items: center;
        text-align: center;
        margin:0;
        @include responsive-page (smd) {
            padding: 0 em(16);
        }
        @include responsive-page (md) {
            align-items: center;
        }
    }
    &__title {
        &--clients {
            font-size: em(40);
            @include responsive-page(smd) {font-size: em(20); }
        }
    }
}

.logo-clients {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    flex-flow: row wrap;

    @include responsive-page(mdtop) {
        // Contruction of grid for clients logos
        display: grid;
        margin-top: em(32);
        grid-template-columns: em(196) em(196) em(196) em(196) em(196);
        grid-template-rows: auto;
        grid-template-areas: 
            "logo1 logo2 logo4 logo7 logo9"
            "logo1 . logo5 . logo9"
            "logo1 logo3 logo6 logo8 logo9";
    }
    &__capsule {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #ffffff;
        box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
        border-radius: em(16);
        max-height: em(96);
        max-width: em(170);
        
        @include responsive-page (smd) { @include logo-clouds(8, 170, 48); }
        @include responsive-page (md) { @include logo-clouds(10, 170, 64); }
        @include responsive-page (mdtop) {
            @include logo-clouds(12, 170, 96);
            
            // Grid for clients logos build
            &:nth-child(1) {grid-area: logo1;}
            &:nth-child(2) {grid-area: logo2; @include logo-up-prop }
            &:nth-child(3) {grid-area: logo3; @include logo-dwn-prop }
            &:nth-child(4) {grid-area: logo4;}
            &:nth-child(5) {grid-area: logo5;}
            &:nth-child(6) {grid-area: logo6;}
            &:nth-child(7) {grid-area: logo7; @include logo-up-prop}
            &:nth-child(8) {grid-area: logo8; @include logo-dwn-prop}
            &:nth-child(9) {grid-area: logo9;}
        }
    }
}
/* Multiple section */
.multiple {
    @include basic-section ;
    flex-flow: column;
    @include responsive-page(mdtop){
        min-height: em(931);
    }
}
.info-page {
    &--multiple {
        padding: 0;
        align-items: center;
        text-align: center;
        width: 100%;
        @include responsive-page (smd) {
            padding: 0 em(16);
        }
        @include responsive-page (md) {
            align-items: center;
        }
    }
    &__title {
        &--multiple {
            width: 90%;
            font-size: em(40);
            @include responsive-page(smd) {font-size: em(20); }
            @include responsive-page(mdtop) {width:50%; }
        }
    }
}
.products-description {
    position: relative;
    display: flex;
    align-items: flex-start;
    width: 100%;
    
    @include responsive-page(smd) { flex-flow: column; }
    @include responsive-page(md) { flex-flow: column; }
    @include responsive-page(mdtop) {
        flex-flow: row;
        min-height: em(627);
    }

    &__products {
        position: static;
        display: flex;
        align-items: center;
        justify-content: center;
        margin:0;
        
        @include responsive-page(smd) { flex-flow: row; width:100%; }
        @include responsive-page(md) { flex-flow: row; width:100%; }
        @include responsive-page(mdtop) { flex-flow: column; width:50%; }
        
        /* Geenral properties of images */
        &--perfum , &--lipstick, &--face-wash {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            @include responsive-page(smd) { width: 33%; }
            @include responsive-page(md) { width: 33%; }
            @include responsive-page(mdtop) { width: min-content; }
            img {
                @include responsive-page(smd) {
                    box-shadow: 0px 0px 30px 10px $purple800;
                    border-radius: 50%;
                    max-width:em(135);
                }
                @include responsive-page(md) {
                    box-shadow: 0px 0px 30px 10px $gray300;
                    border-radius: 25%;
                    max-width:em(200);
                }
            }
        }
        /* Individual properties of image in 1024px */
        &--perfum {
            @include responsive-page(mdtop) {
                right:em(-90);
                top:0;
                &::after {
                    position: absolute;
                    content: " ";
                    background-color: $cyan;
                    border-radius: 50%;
                    width: em(72);
                    height: em(72);
                    right:em(-34);
                    bottom:em(62);
                    z-index:-1;
                }
            }
        }
        &--lipstick {
            @include responsive-page(mdtop) {
                position: absolute;
                left:em(60);
                top:em(240);
                &::after {
                    position: absolute;
                    content: " ";
                    background-color: $cotton-candy;
                    border-radius: 50%;
                    width: em(72);
                    height: em(72);
                    left:em(-36);
                    bottom:em(65);
                    z-index:-1;
                }
            }
        }
        &--face-wash {
            @include responsive-page(mdtop) {
                left:em(40);
                top:em(80);
                &::after {
                    position: absolute;
                    content: " ";
                    background-color: $pastel-green;
                    border-radius: 50%;
                    width: em(72);
                    height: em(72);
                    right:em(-34);
                    bottom:em(-34);
                    z-index:-1;
                }
            }

        }
    }

    &__text {
        position: relative;
        display:flex;
        margin-top: em(20); width: 100%;
        @include responsive-page(mdtop) { margin: 0; width: 50%; }
    }
}

.text-products {
    display: flex;
    width: 100%;
    @include responsive-page(smd) { 
        flex-flow: row;
        justify-content: space-around;
    }
    @include responsive-page(md) { flex-flow: row; justify-content: space-around; }
    
    @include responsive-page(mdtop) { 
        flex-flow: column;
        align-items: center;
        padding-left: 9%;
    }
    &__item {
        display: flex;
        text-align: center;
        flex-flow: column;
        @include responsive-page(smd) { justify-content: center; width: 33%;}
        @include responsive-page(md) {
            margin:0 em(5);
            width: 33%;
        }
        @include responsive-page(mdtop) { 
            text-align:initial;
            width: 100%;
        }
        h5 {
            margin: 0;
            @include responsive-page(smd) { font-size: em(18); }
            @include responsive-page(md) { font-size: em(20); }
            @include responsive-page(mdtop) {
                padding-left:em(15);
                font-size: em(24);
                &::before {
                    position: relative;
                    content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
                    color: $pastel-green;
                    font-weight: bold;
                    display: inline-block;
                    width: 1em;
                    margin-left: -1em;
                }
            }
        }
        p {
            line-height: em(32);
            @include responsive-page(smd) { display: none; }
            @include responsive-page(md) { padding: 0 em(10); }
            @include responsive-page(mdtop) { 
                padding: 0;
                width: 90%;
                margin-bottom: em(40);
            }
        }
    }
}

/* Testimonial section */
.testimonial {
    @include basic-section ;
    flex-flow: row;
    max-width: em(1440);
    padding: 0;
    background-color: $turquoise100;
    @include responsive-page(smd) { flex-flow: column; }
    @include responsive-page(md) { height: 580px; }
    @include responsive-page(mdtop) { height: 628px; }
}

.left-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $turquoise;
    width: 50%;
    height: 100%;
    @include responsive-page(smd) { 
        width: 100%; 
    }
}

.info-page {
    &--testimonial {
        width:65%;
        margin: 0;
        @include responsive-page(smd) {
            margin:em(20);
            padding: 0 em(10);
        }
    }
    &__title {
        &--testimonial { 
            h2 {
                font-size: 42px;
                line-height: 64px;
                @include responsive-page(smd) {
                    line-height: 40px;
                }
            }
        }
    }
}

.right-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    margin: 0;
    @include responsive-page(smd) { 
        justify-content: center;
        width: 100%;
    }
}

.feedback-section {
    position: relative;
    display: flex;
    flex-flow: column;
    background-color: #ffffff;
    padding: em(40);
    box-shadow: 0px 30px 40px rgba(212, 217, 232, 0.2);
    margin: 32px 0;
    max-width: em(574);
    @include responsive-page(smd) { padding: em(20); margin: 0; }

    .quotes-image {
        display: flex;
        position: relative;
        width: max-content;
        align-self: flex-end;
        margin-bottom: 24px;
    }

    &__client {
        display: flex;
        flex-flow: column;
        margin: 0;
        .client-who-is {
            display: flex;
            flex-basis: auto;
            img {
                width: em(56);
                height: em(56);
            }
        }
        .client-name {
            display: flex;
            flex-flow: column;
            align-items: stretch;
            margin-left:em(10);
            h5 {
                font-size: em(18);
                line-height: em(28);
                margin:auto 0;
            }
            p {
                font-size: em(14);
                margin:auto 0;
            }

        }
        .client-feedback {
            line-height: 32px;
            @include responsive-page(smd) { line-height: 20px; }
            @include responsive-page(md) { line-height: 24px; }
            p {
                margin-bottom: 48px;
            }
        }
        .client-logo {
            img {
                width: 140px;
            }
        }
    }
    &__arrows {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: em(40);
        height: em(14);
        font-weight: 700;
        align-self: flex-end;
        bottom:em(30);
        .previous, .next {
            &:hover { color: #ffffff; background-color: $purple;}
        }
    }
}

/* Stats Section */
.stats {
    @include basic-section;
    flex-flow: row wrap;
    @include responsive-page(smd) {
        padding: 0 em(16);
    }
    &__info {
        display: block;
        border-left: solid $purple;
        padding-left: em(16);
        width: 100%;
        min-width: em(160);
        max-width: em(255);
        @include responsive-page(smd) {
            margin-bottom: em(16);
            width: em(160);
        }
        
        h3 {
            //font-weight: 800;
            font-size: 28px;
            line-height: 40px;
            margin: 0;
        }
        p {
            line-height: 26px;
            margin: 0;
        }
    }
}

/* Single section */
.single {
    @include basic-section ;

    max-width: em(1440);
    max-height: em(760);
    padding: 0;
    background: no-repeat url(../image/single-cover-opt.png);
    
    @include responsive-page(smd) {
        justify-content: center;
        height: em(380);
    }
    @include responsive-page(mdtop) {
        height: em(760);
    }
}

.single-content {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    width: em(460);
    background-color: #ffffff;
    
    @include responsive-page(smd) {
        padding: em(16);
        height: em(300);
    }
    @include responsive-page(md) { 
        padding: em(44);
        height: em(480);
    }
    @include responsive-page(mdtop) { 
        padding: 64px;
        height: em(540);
        left: 60%;
        bottom: -15%;
    }

    &__title {
        font-size: 40px;
        line-height: 54px;
        margin: 0;
        @include responsive-page(smd) { line-height: 20px; }
        @include responsive-page(md) { line-height: 24px; }
    }
    &__text {
        font-size: 18px;
        font-weight: normal;
        line-height: 32px;
        margin-bottom: em(40);
        
        @include responsive-page(smd) {
            line-height: 24px;
            margin-bottom: em(20);
        }
        @include responsive-page(md) { line-height: 32px; }
    }
    &__link {
        display: flex;
        color: $purple;

        .watch-video {
            position: relative;
            left:60px;
            &::before {
                content:"";
                position: absolute;
                top: 5px;
                margin-left: -18px;
                border-width: 8px;
                border-style: solid;
                border-color:  transparent  transparent  transparent $purple;
            }

        }
    }
}

/* CTA section */

.cta-section {
    @include basic-section ;
    flex-flow: column;
    background-color: $purple;
    max-width: em(1440);
    max-height: em(540);
    @include responsive-page(smd) { height: em(460);}
    @include responsive-page(mdtop) { height: em(540); }
}

.info-page {
    &--cta-section {
        padding: 0;
        align-items: center;
        width: 80%;
        margin: 0 0 6%;

        @include responsive-page(smd) { width: 100%; }
    }
    &__title {

        &--cta-section {
            text-align: center;
            font-size: 46px;
            line-height: 74px;
            padding: 0;
            margin: 0 0 5%;
            color: #ffffff;
            width: 100%;
            
            @include responsive-page(smd) {
                font-size: 24px;
                line-height: 44px;
            }
            @include responsive-page(md) {
                font-size: 32px;
                line-height: 60px;
            }
        }
    }
    &__button {
        &--cta-section {
            color: $purple;
            background-color: #ffffff;
            max-width:em(240);
        }
    }
}

.hightlights {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 82.5%;
    &__list {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
        font-size: 14px;
        color: #ffffff;
        width: 100%;
        
        @include responsive-page(smd) {
            flex-flow: column;
            align-items: center;
        }
        @include responsive-page(md) {
            flex-flow: column;
            align-items: center;
        }

        .highlights-item {
            position: relative;
            max-width: em(300);
            margin-bottom: 20px;
            padding-left: 0px;
        
            @include responsive-page(mdtop) { width: em(300); }
            
            &:before {
                content: url('../image/highlights-icon-opt.svg');
                position: absolute;
                top: 0;
                margin-left: -35px;
            }
        }
    }
}
