/* MAIN CONTENT */

// ==== Make mixin for general properties =====//

// Presentation section
.overview {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    width: 100%;
    max-width: em(1200);
    @include responsive-page(smd) { padding:5% 0; justify-content: center; }
    @include responsive-page(md) { padding:5% 0; justify-content: space-between;}
}

.info-page {
    display: flex;
    flex-flow: column;
    width: 50%;
    align-content: flex-start;
    justify-content: center;
    @include responsive-page(smd) {
        text-align: center;
        align-items: center;
        width: 100%;
    }
    &__title{
        font-size:em(56);
        h1 {
            margin:0;
        }
        @include responsive-page(smd) {
            font-size:em(24);
        }
    }
    &__text {
        font-size: em(18);
        width: 100%;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 10.556em;
        min-width: 3.667em;
        width:100%;
        height: 3.444em;
        max-height: 10.889em;
        min-height: 1.556em;
        background-color: $purple;
        border-radius: 0.444em;
        color: #ffffff;
        a {
            font: {
                weight: bold;
                size:1.4rem;
            }
            @include responsive-page(smd) {
                font: {
                    size:1rem;
                }
            }

        }
    }
}

.image {
    position: absolute;
    display:flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    
    &__stats {
        position:absolute;
        right: -10%;
        @include responsive-page(smd) { display: none; }
        
        @include responsive-page(md) { 
            transform: scale(.65);
        }
        
        @include responsive-page(mdtop) { 
            width: 100%;
            max-width: em(592);
        }
    }
    @include responsive-page(smd) {
        position: absolute;
        margin:0;
        width: 100%;
    }
}

.circle-background {
    position: relative;
    background: $purple800;
    border-radius: 100%;
    content: "";
    z-index: -1;
    @include responsive-page(smd) {
        position: absolute;
        top:-10%;
    }
    @include responsive-page(md) {
        display: none;
    }
    @include responsive-page(mdtop) {
        width: em(640);
        height: em(640);
        min-width: em(640);
        right: -4%;
    }
}
