/* Stableshing Fonts */
@font-face {
    font: {
        family: $primaryfont, $family;
        weight: bold;
        style: normal;
        display: swap;
    }
    src: url('../../fonts/Manrope-VariableFont_wght.woff') format('woff');
}

@font-face {
    font: {
        family: $primaryfont, $family;
        weight: 500;
        style: normal;
        display: swap;
    }
    src: url('../../fonts/Manrope-VariableFont_wght.woff') format('woff');
}

@font-face {
    font: {
        family: $primaryfont, $family;
        weight: normal;
        style: normal;
        display: swap;
    }
    src: url('../../fonts/Manrope-VariableFont_wght.woff') format('woff');
}

/* General CSS properties */
*, :after, :before {
    box-sizing: border-box;
}

body, ul, li, .container {
    margin:0;
    padding: 0;
}
li {
    list-style: none;
}
body {
    color: $gray900;
    @include bigfont ($primaryfont, $family, $base-size);
}
.container {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.main-header, .main-content, .main-footer {
    max-width:1200px;
}
/* Don't show link behavior*/
a:visited, a:link {
    text-decoration: none;
    color:currentColor;
}
/* Don't show border when click */
button {
    border:none;
    &:focus {
        outline: none;
    }
}
