/* Stableshing Fonts */
// first search locally
@font-face {
    font-family: $primaryfont;
    src: local('Manrope ExtraBold'), local('Manrope-ExtraBold'),
        url('../fonts/Manrope-ExtraBold.woff2') format('woff2'),
        url('../fonts/Manrope-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Manrope';
    src: local('Manrope SemiBold'), local('Manrope-SemiBold'),
    url('../fonts/Manrope-SemiBold.woff2') format('woff2'),
    url('../fonts/Manrope-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $primaryfont;
    src: local('Manrope Medium'), local('Manrope-Medium'),
    url('../fonts/Manrope-Medium.woff2') format('woff2'),
    url('../fonts/Manrope-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $primaryfont;
    src: local('Manrope Bold'), local('Manrope-Bold'),
        url('../fonts/Manrope-Bold.woff2') format('woff2'),
        url('../fonts/Manrope-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: $primaryfont;
    src: local('Manrope Regular'), local('Manrope-Regular'),
        url('../fonts/Manrope-Regular.woff2') format('woff2'),
        url('../fonts/Manrope-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* General CSS properties */
*, :after, :before {
    box-sizing: border-box;
}

body, ul, li {
    margin:0;
    padding: 0;
}
ul, li {
    list-style: none;
}
body { overflow-x: hidden; }
body, html {
    color: $gray900;
    font-family: $primaryfont;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    max-width: em(1440);
    margin:0 auto;
}
.main-header, .main-content, .main-footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width:100%;
}
/* Don't show link behavior*/
a { 
    &, &:link {
      color:currentcolor;
      text-decoration: none;
    }
    &:focus { border: none; }
  }
/* Don't show border when click */
button {
    border:none;
    &:focus {
        outline: none;
    }
}
