/* Stableshing Fonts */
@font-face {
    font: {
        family: $primaryfont;
        weight: bold;
        style: normal;
        display: swap;
    }
    src: url('../fonts/Manrope-Bold.woff') format('woff'),
    url('../fonts/Manrope-Bold.woff2') format('woff2');
}

@font-face {
    font: {
        family: $primaryfont, $family;
        weight: 500;
        style: normal;
        display: swap;
    }
    src: url('../fonts/Manrope-Medium.woff') format('woff'),
    url('../fonts/Manrope-Medium.woff2') format('woff2');
}

@font-face {
    font: {
        family: $primaryfont, $family;
        weight: normal;
        style: normal;
        display: swap;
    }
    src: url('../fonts/Manrope-Regular.woff') format('woff'),
    url('../fonts/Manrope-Regular.woff2') format('woff2');
}

/* General CSS properties */
*, :after, :before {
    box-sizing: border-box;
}

body, ul, li, .container {
    margin:0;
    padding: 0;
}
ul, li {
    list-style: none;
}
body {
    color: $gray900;
    @include bigfont ($primaryfont, $family);
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    max-width: em(1440);
    overflow: hidden;
}
.main-header, .main-content, .main-footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width:100%;
}
/* Don't show link behavior*/
a:visited, a:link {
    text-decoration: none;
    color:currentColor;
}
/* Don't show border when click */
button {
    border:none;
    &:focus {
        outline: none;
    }
}
