/**
SCSS and BEM structure were used on this project
*/

.main-header {
    margin: 0;
    width: 100%;
    position: relative;

    box-shadow: 0px 1px 0px #E5E9F2;
    @mixin header-responsive () {
        flex-flow: row;
        align-items: center;
        color: $gray100;
        background-color: $purple;
        border-bottom: em(3.5) solid #E5E9F2;
    }
    @include responsive-page(smd) { @include header-responsive (); }
    
    @include responsive-page(md) { @include header-responsive (); }
    
    @include responsive-page(mdtop) {
        justify-content: space-around;
        background-color: #ffffff;
    }
}
/* Class to  fix the navbar on top */
.fixed {
    position: fixed;
    top:0em;
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: em(1200);
    position: relative;
    @include responsive-page(smd) {flex-flow:row wrap; }
    @include responsive-page(md) { flex-flow:row wrap; }
}
/* Mobile button animation */
.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    @mixin smd-md-behavior (){
        transform: scale(1.8);
        padding: .5rem;
        width: 33%;
        display: block;
    }
    @include responsive-page(smd) { @include smd-md-behavior() }

    @include responsive-page(md) { @include smd-md-behavior() }

    @include responsive-page(mdtop) { display: none; }

    &__line {
        fill:none;
        stroke: $gray100;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
        @include responsive-page(mdtop) {
            transform:scale(0);
        }
    }
    /* Lines behavior Menu Opened */
    &--opened {
        .line1 { 
            stroke: {
                dasharray: 90 207;
                dashoffset: -134;
                width: 6;
            }
        }
        .line2 {
            stroke: {
                dasharray: 1 60;
                dashoffset: -30;
                width: 6;
            }
        }
        .line3 {
            stroke: {
                dasharray: 90 207;
                dashoffset: -134;
                width: 6;
            }
        }
        @include responsive-page(mdtop) {
            display: none;
        }
    }
}

/* Lines behavior Menu Closed */
.line1, .line2, .line3 {
  stroke-width: 6;
}
.line1 {
    stroke-dasharray: 60 207;
}
.line2 {
    stroke-dasharray: 60 60;
}
.line3 {
    stroke-dasharray: 60 207;
}

.navigate {
    display: flex;
    position: relative;
    .navigate-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        
        &__item {
            text-align: center;
            font: {
                weight: bold;
                size: em(16);
            }
            line-height: 1.111em;
            margin:em(25) 0;
            width: 78px;
            @include responsive-page(smd) { a {color:#ffffff;}}
            @include responsive-page(md) { a {color:#ffffff;}}
            @include responsive-page(mdtop) {
                margin: 0 em(10);
                font-size: 0.778em;
                width: 60px;
                a { color:currentColor; }
            }
        }
        @include responsive-page(mdtop) { flex-flow: row; }
    }
    @mixin menu-opened () {
        position: absolute;
        order:4;
        top:-2em;
        transform: scale(0);
        z-index:-1;
        &--opened {
            flex-flow: row wrap;
            justify-content: center;
            top: 4.4em;
            width: 100%;
            background-color: $purple;
            transition: .7s;
            transform: scale(1);
            z-index:1;
            border-radius: 0 0 em(30) em(30);
        }
    }
    @include responsive-page(smd) { @include menu-opened() }
    @include responsive-page(md) { @include menu-opened() }
    @include responsive-page(mdtop) { width:auto; }
}
.active {
    border: .2em solid $gray700;
    border-radius: .5em;
    padding: 5% 2%;
    background-color: $cyan;
    transition: .6s;
    width: 110%;
    @include responsive-page(smd) { background-color: $gray800; }
    @include responsive-page(md) { background-color: $gray800; }
}

.logo-header {
    display: flex;
    position: relative;
    justify-content: center;

    @mixin logo-responsive () {
        align-self: center;
        padding: em(8) em(16);
        border: .15em solid $purple800;
        border-radius:em(24);
        background-color: $gray100;
        width: 30%;
        max-width:em(150);
    }
    @include responsive-page(smd) { @include logo-responsive () }
    @include responsive-page(md) { @include logo-responsive () }
}
.account-buttons {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    font-size:.778em;
    font-weight: 700;
    &__login, &__sign-up {
        display: flex;
        align-items: center;
        justify-content: center;
        margin:.3em .778em;
        border-radius: .444em;
        width: 5.556em;
        max-width: 5.556em;
        padding: .5em 0;
        font-weight: 700;
    }
    &__login {
        color:$purple;
        background-color: $purple100;
        @include responsive-page(smd) { color:$gray900; }
        @include responsive-page(md) { color:$gray900; }
    }
    &__sign-up {
        color:#ffffff;
        background-color:$purple;
        @include responsive-page(smd) { color:$purple; background-color: #ffffff; }
        @include responsive-page(md) { color:$purple; background-color: #ffffff; }
    }
    @include responsive-page(smd) { width: 33%; }
    @include responsive-page(md) { width: 33%; }
}
